.user-card-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.card-img-top {
  object-fit: cover;
  height: 150px;
  background-color: gray;
}

.alias {
  font-size: 14px;
}

.edit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.edit-button-container .btn {
  background-color: #ea4c88;
  color: white;
  border-radius: 0.25rem;
  border: unset;
  padding: 1rem;
  background-color: #ea4c88 !important;
  color: #eee !important;
  font-weight: 700;
  text-transform: uppercase;
}

.spinner-container {
  color: #ea4c88;
}
